@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme{
  --color-c1: #cbcbcb;
  --color-c2:#f2f2f2;
  --color-c3:#174d38;
  --color-c4:#4d1717;
  --color-c5:#e37100;
  --color-bordercolor:#d2d3d4;
  --shadow-inputs:0 4px 10px rgba(0, 0, 0, 0.25);
}

@layer components{
  .container{
    @apply max-w-[1200px] mx-auto px-4;
  }
  .subheading{
    @apply text-sm text-gray-500 font-medium;
  }
  .headingh4{
    @apply text-xl font-semibold inline-flex items-center gap-1 hover:underline py-4 cursor-pointer;
  }
}

body{
  font-family: "Josefin Sans", sans-serif;
}

.homecardsetup{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200,1fr));
}